
//-----------------------------------------------------------------------
// Whole Page
//-----------------------------------------------------------------------

html, body {
//  overflow-x: hidden; // Allows .span-full to take up entire viewport without overflowing.
//  overflow-y: auto;
}

html {
//  background-color: $page-color;
}

body {

}

#footer { 
  background: rgba(0,0,0,0.94);
  padding: 1em 0;
  a:link, a:visited {
    color: lighten($link-color, 15);
  }
}


//-----------------------------------------------------------------------
// Papers
//-----------------------------------------------------------------------

.block-views {

}
.block-views h2 {
  margin-top: 0.35em;
}

//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

header[role="banner"] {

  h1 {

  }
}

#navigation {
  h2 {
    @include element-invisible;
  }
}


//-----------------------------------------------------------------------
// Main Content
//-----------------------------------------------------------------------

#main {
  outline: none; 
}



//-----------------------------------------------------------------------
// Meta
//-----------------------------------------------------------------------

.file img {
  box-shadow: none;
  margin: 0;
  width: auto;
}


//-----------------------------------------------------------------------
// Drupalism That Need To Be Styled
//-----------------------------------------------------------------------

.mollom-privacy { // removing help text "By submitting this form, you accept the Mollom privacy policy."
  display: none;
}

